.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    
    &.ng-enter {
        @include in-transition;
        opacity: 0;

        &.ng-enter-active {
            opacity: 1;
        }
    }

    &.ng-leave {
        @include in-transition;
        opacity: 1.0;

        &.ng-leave-active {
            opacity: 0;
        }
    }

    &.mask--black {
        background-color: rgba(0,0,0,0.5);
    }

    &.mask_header {
        top:0;
        left:0;
        height: $tablet-header-height;
        z-index:2;
    }
}