<header class="header header--modal">
    <nav>
    <span class="navigation-bar close-left left modal-sub-view-header-container middle">
        <span class="modal-sub-view-header">Ticket Submission</span>
    </span>
    <span class="navigation-bar right sub-view-animated-button">
        <button class="navigation-bar_item close-button left button button--light-grey button-expanded" ng-click="openRootView()">
            x
        </button>
    </span>
    </nav>
</header>
<div class="scrollable container-fluid">
    <div class="scrollable-content col-xs-12">
        <div class="row">
            <h2>Terms and Conditions</h2>

            <p>Some terms will go here</p>
        </div>
    </div>
</div>
