// Base header sizes
// ------------------------------
$base-h1-size:  3rem;
$base-h2-size:  2.1rem;
$base-h3-size:  1.8rem;
$base-h4-size:  1.6rem; // Left undefined by UI spec
$base-h5-size:  1.6rem; // Left undefined by UI spec
$base-h6-size:  1.6rem; // Left undefined by UI spec

// Base copy sizes
// ------------------------------
$base-rem: 			10px;
$base-font-size:    1.6rem;
$base-line-height:  2.1rem;

// Base button widths
$button-s: 8rem;
$button-m: 12rem;
$button-l: 20rem;
