@mixin button( $button-color, $button-text-color ) {
    background-color: $button-color;
    color: $button-text-color;
    text-align: center;

    &:active {
        background-color: darken( $button-color, 10 );
    }
}
