<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="bower_components/mockfirebase/dist/mockfirebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <script src="bower_components/signature_pad/signature_pad.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/lib/angular-scroll.js"></script>
    <script src="scripts/lib/overthrow.js"></script>
    <script src="scripts/lib/ui-bootstrap-custom-tpls-0.10.0.js"></script>
    <script src="scripts/view-helper/controllers/view-controller.js"></script>
    <script src="scripts/alert/alert-module.js"></script>
    <script src="scripts/alert/controllers/alert-controllers.js"></script>
    <script src="scripts/alert/directives/alert-directives.js"></script>
    <script src="scripts/alert/services/alert-services.js"></script>
    <script src="scripts/form/form-services.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/angularfire/firebase.auth.utils.js"></script>
    <script src="scripts/angularfire/firebase.config.js"></script>
    <script src="scripts/angularfire/firebase.utils.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/ticket.js"></script>
    <script src="scripts/factories/image.js"></script>
    <script src="scripts/factories/ticket.js"></script>
    <script src="scripts/directives/image.js"></script>
    <script src="scripts/directives/signature.js"></script>
    <script src="scripts/directives/ngShowHideAuth.js"></script>
    <script src="scripts/routes.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="viewHelperController" ng-app="ticketApp" class="mobile">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="alert" alert>

    <div class="alert_container" ng-switch on="!! alert.templateUrl" ng-if="alert != null">

        <div class="alert_container_content" ng-switch-default>
            <h4 class="alert_container_content_heading" ng-class=" alert.type === 'warning' ? 'alert_container_content_header--warning' : 'alert_container_content_header--error' ">
                <span class="alert_container_content_heading_title" ng-if="!! alert.processAsHTML" ng-bind-html="alert.header"></span>
                <span class="alert_container_content_heading_title" ng-if="! alert.processAsHTML">{{ alert.header }}</span>
            </h4>

            <div class="alert_container_content_body">
                <span ng-if="!! alert.processAsHTML" ng-bind-html="alert.body"></span>
                <span ng-if="! alert.processAsHTML">{{ alert.body}}</span>
            </div>

            <div class="alert_container_content_navigation" ng-class="{ 'alert_container_content_navigation--multiple-buttons': !! alert.primary && !! alert.secondary }">
                <div class="alert_container_content_navigation_button" ng-if="!! alert.secondary" ng-switch on="!! alert.secondary.callback">
                    <button ng-switch-default ng-click="submitAction('secondary')" class="button button--{{ !! alert.secondary.color ? alert.secondary.color : 'blue' }}">{{ !! alert.secondary.text ? alert.secondary.text : 'Ok' }}</button>
                    <button ng-switch-when="true" ng-click="submitAction('secondary')" loading="true" create-child-element="true" class="button button--{{ !! alert.secondary.color ? alert.secondary.color : 'blue' }}">{{ !! alert.secondary.text ? alert.secondary.text : 'Ok' }}</button>
                </div><!--
                --><div class="alert_container_content_navigation_button omega" ng-switch on="!! alert.primary.callback">
                <button ng-switch-default ng-click="submitAction('primary')" class="button button--{{ !! alert.primary.color ? alert.primary.color : 'blue' }}">{{ !! alert.primary.text ? alert.primary.text : 'Ok' }}</button>
                <button ng-switch-when="true" ng-click="submitAction('primary')" loading="true" create-child-element="true" class="button button--{{ !! alert.primary.color ? alert.primary.color : 'blue' }}">{{ !! alert.primary.text ? alert.primary.text : 'Ok' }}</button>
            </div>
            </div>
        </div>

        <div class="alert_container_content" ng-switch-when="true">
            <div ng-include="alert.templateUrl"></div>
        </div>

    </div>

    <div class="alert_mask mask mask--black" ng-if="isAlertPresent()"></div>

</div>

<aside class="sidebar sidebar--left sidebar--menu slide-right" ng-show-auth ng-if="activeView == 'sidebarLeft'" role="navigation" aria-label="menu" tabindex="-1" >
    <div ng-include="'views/modal/menu.html'"></div>
</aside>

<aside class="sidebar sidebar--modal slide-up" role="navigation" tabindex="-1" ng-if="activeView == 'terms'">
    <div ng-include="'views/modal/terms.html'"></div>
</aside>

<aside class="sidebar sidebar--modal slide-up" role="navigation" tabindex="-1" ng-if="activeView == 'submitted-tickets'">
    <div ng-include="'views/modal/submitted-tickets.html'"></div>
</aside>

<div class="mask mask--black" ng-click="openNamedView('')" ng-if="activeView != ''"></div>

<header class="header header--main">
    <nav>
        <span class="navigation-bar left" ng-show-auth>
            <button class="navigation-bar_item menu left button button--blue button-expanded" role="button" aria-label="main menu" aria-haspopup="true" ng-click="openNamedView('sidebarLeft')">Menu</button>
        </span>
    </nav>
</header>

<div class="scrollable container-fluid">
    <div class="scrollable-content" ng-view="">
    </div>
</div>

</body>
</html>
