<form role="form" name="user-information" ng-submit="submitTicket()">
    <label class="form-group">
        <p>Ticket number</p>
        <input required name="ticketNumber" type="text" ng-model="ticket.number" class="form-control" />
    </label>
    <label class="form-group">
        <p>Ticket photo</p>
        <input required name="photo" type="file" image-upload="ticket.image" class="form-control" />
        <img style="max-height: 50px" ng-src="{{ ticket.image.data }}" alt="{{ ticket.number }}" />
    </label>

    <div class="checkbox-container">
        <div class="form-group form-group--checkbox">
            <input id="failedToPay" ng-model="ticket.reason.failedToPay.flag" required name="reason" type="checkbox" value="true" class="form-control" />
            <label for="failedToPay">Failed to pay parking meter.</label>
        </div>
        <div class="form-group form-group--checkbox">
            <input id="handicapped" ng-model="ticket.reason.handicapped.flag" required name="reason" type="checkbox" value="true" class="form-control" />
            <label for="handicapped">Parked in handicapped spot.</label>
        </div>
        <div class="form-group form-group--checkbox">
            <input id="streetCleaning" ng-model="ticket.reason.streetCleaning.flag" required name="reason" type="checkbox" value="true" class="form-control" />
            <label for="streetCleaning">Obstructing street cleaning.</label>
        </div>
        <div class="form-group form-group--checkbox">
            <input id="parkingReceipt" ng-model="ticket.reason.parkingReceipt.flag" required name="reason" type="checkbox" value="true" class="form-control" />
            <label for="failedToPay">No parking receipt.</label>
        </div>
        <div class="form-group form-group--checkbox">
            <input id="other" ng-model="ticket.reason.other.flag"required name="reason" type="checkbox" value="true" class="form-control" />
            <label for="other">Other.</label>
            <input class="form-group--checkbox_other" ng-if="ticket.reason.other.flag" type="text" ng-model="ticket.reason.other.text">
        </div>
    </div>

    <p>
        {{ error.message }}
    </p>

    <p>
        <button type="submit" class="btn btn-primary">Submit Ticket Information</button>
    </p>
</form>
