<form role="form" class="col-xs-12" name="userInformation" ng-submit="submitTicket()" novalidate>
    <h2>Ticket Information</h2>

    <label class="form-group row col-xs-12" ng-class="getCssClasses(userInformation.ticketNumber)">
        <p class="control-label">Ticket number</p>
        <input required name="ticketNumber" type="text" ng-model="ticket.number" class="form-control" />

        <p class="panel-collapse control-label" ng-messages="userInformation.ticketNumber.$error" collapse="! showClientValidationError(userInformation.ticketNumber)">
            <span ng-message-when="required">Ticket number is not valid</span>
        </p>
    </label>
    <label class="form-group row col-xs-12" ng-class="getCssClasses(userInformation.ticketPhoto)">
        <p class="control-label">Ticket photo</p>
        <input type="hidden" name="ticketPhoto" ng-model="ticket.image.data" required />
        <input required name="photo" type="file" image-upload="ticket.image" class="form-control" />

        <p class="panel-collapse control-label" ng-messages="userInformation.ticketPhoto.$error" collapse="! showClientValidationError(userInformation.ticketPhoto)">
            <span ng-message-when="required">Ticket image not specified.</span>
        </p>
    </label>

    <div class="checkbox row col-xs-12">
        <label>
            <input ng-model="ticket.reason.paymentMalfunction.flag" name="reason" type="checkbox" value="true" />
            Unable to pay meter
        </label>
    </div>

    <div class="col-xs-11 bg-info" ng-if="ticket.reason.paymentMalfunction.flag">
        <div class="checkbox">
            <label>
                <input ng-model="ticket.reason.paymentMalfunction.meter.flag" name="paymentMalfunction" type="checkbox" value="true" />
                Broken parking meter.
            </label>
        </div>
        <div class="col-xs-offset-1" ng-if="ticket.reason.paymentMalfunction.meter.flag">
            <label class="form-group" ng-class="getCssClasses(userInformation.meterId)">
                <p class="control-label">Meter id</p>
                <input type="text" name="meterId" required ng-model="ticket.reason.paymentMalfunction.meter.id" class="form-control">

                <p class="panel-collapse control-label" ng-messages="userInformation.meterId.$error" collapse="! showClientValidationError(userInformation.meterId)">
                    <span ng-message-when="required">Meter id not specified.</span>
                </p>
            </label>
            <label class="form-group" ng-class="getCssClasses(userInformation.reportNumber)">
                <p class="control-label">Report number</p>
                <input type="text" name="reportNumber" required ng-model="ticket.reason.paymentMalfunction.meter.reportNumber" class="form-control">
                <p class="help-block">Call 888-888-8888 to report the meter and get a report confirmation number.</p>

                <p class="panel-collapse control-label" ng-messages="userInformation.reportNumber.$error" collapse="! showClientValidationError(userInformation.reportNumber)">
                    <span ng-message-when="required">Report number not specified.</span>
                </p>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input ng-model="ticket.reason.paymentMalfunction.other.flag" name="paymentMalfunction" type="checkbox" value="true" />
                Other
            </label>
        </div>
        <div class="form-inline" ng-if="ticket.reason.paymentMalfunction.other.flag">
            <input required class="form-control" type="text" ng-model="ticket.reason.paymentMalfunction.other.text">
        </div>
    </div>

    <div class="checkbox row col-xs-12">
        <label>
            <input ng-model="ticket.reason.handicapped.flag" name="reason" type="checkbox" value="true" />
            Parked in handicapped spot.
        </label>
    </div>
    <div class="checkbox row col-xs-12">
        <label>
            <input ng-model="ticket.reason.streetCleaning.flag" name="reason" type="checkbox" value="true" />
            Obstructing street cleaning.
        </label>
    </div>
    <div class="checkbox row col-xs-12">
        <label>
            <input ng-model="ticket.reason.parkingReceipt.flag" name="reason" type="checkbox" value="true" />
            No parking receipt.
        </label>
    </div>
    <div class="checkbox row col-xs-12">
        <label>
            <input ng-model="ticket.reason.other.flag" name="reason" type="checkbox" value="true" />
            Other
        </label>
    </div>
    <div class="form-group row col-xs-12" ng-if="ticket.reason.other.flag" ng-class="getCssClasses(userInformation.otherReason)">
        <input required name="otherReason" class="form-control" type="text" ng-model="ticket.reason.other.text">

        <p class="panel-collapse control-label" ng-messages="userInformation.otherReason.$error" collapse="! showClientValidationError(userInformation.otherReason)">
            <span ng-message-when="required">You must specify an other reason</span>
        </p>
    </div>

    <div class="row col-xs-12">
        <button  class="btn btn-default col-xs-4" ng-click="prevStep()" type="button">Prev</button>
        <button  class="btn btn-primary col-xs-4 col-xs-push-4" type="submit ">Next</button>
    </div>
</form>
