<div class="container" ng-cloak ng-show-auth>
    <p>
        <button role="button" ng-click="logout()" class="btn btn-danger">Log Out</button>
    </p>
</div>

<div class="container" ng-cloak ng-hide-auth>
    <h2>Login Page</h2>

    <fieldset>
        <legend>Oauth</legend>
        <p>
            <button  class="btn btn-primary" ng-click="oauthlogin('anonymous')">Anonymous</button>
        </p>
    </fieldset>

    <form role="form">
        <label class="form-group">
            <p>email</p>
            <input required name="email" type="email" ng-model="email" class="form-control" />
        </label>
        <label class="form-group">
            <p>password</p>
            <input required name="pass" type="password" ng-model="pass" class="form-control" />
        </label>

        <p>
            <button  class="btn btn-primary" ng-click="passwordLogin(email, pass)">Log In</button>
        </p>
    </form>
</div>
