.alert_container_content_heading {
    padding-right: $global-padding * 3.0;
    padding-bottom: $global-padding;
    width: 100%;
}

.alert_container_content_body {
    padding-right: $global-padding * 3.0;
    padding-bottom: $global-padding;
    width: 100%;
}